# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
ios/.gitignore
ios/.xcode.env
ios/Podfile
ios/Podfile.lock
ios/Podfile.properties.json
ios/Headspace/AppDelegate.h
ios/Headspace/AppDelegate.mm
ios/Headspace/Headspace-Bridging-Header.h
ios/Headspace/Headspace.entitlements
ios/Headspace/Info.plist
ios/Headspace/main.m
ios/Headspace/noop-file.swift
ios/Headspace/PrivacyInfo.xcprivacy
ios/Headspace/SplashScreen.storyboard
ios/Headspace/Images.xcassets/Contents.json
ios/Headspace/Images.xcassets/AppIcon.appiconset/App-Icon-1024x1024@1x.png
ios/Headspace/Images.xcassets/AppIcon.appiconset/Contents.json
ios/Headspace/Images.xcassets/SplashScreenBackground.colorset/Contents.json
ios/Headspace/Images.xcassets/SplashScreenLogo.imageset/Contents.json
ios/Headspace/Images.xcassets/SplashScreenLogo.imageset/image.png
ios/Headspace/Images.xcassets/SplashScreenLogo.imageset/image@2x.png
ios/Headspace/Images.xcassets/SplashScreenLogo.imageset/image@3x.png
ios/Headspace/Supporting/Expo.plist
ios/Headspace.xcodeproj/project.pbxproj
ios/Headspace.xcodeproj/xcshareddata/xcschemes/Headspace.xcscheme
ios/Headspace.xcworkspace/contents.xcworkspacedata
android
.env
